fastapi
uvicorn[standard]
python-multipart
jinja2 # For FastAPI templates
sqlalchemy[asyncpg]
sqlalchemy
asyncpg # Explicitly add asyncpg for async postgres support
alembic # For database migrations
pydantic[email]
pydantic-settings
passlib[bcrypt]
bcrypt>=3.2.2,<4.0.0
bcrypt
python-jose[cryptography]
fastapi-mail